<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>DH Movies</h1>
      <ul>
        <li>
          <a href="/movies">
            Todas las peliculas
          </a>
        </li>
      </ul>
    </header>

   
   
  </body>
</html>
